.question {
  width: 300px;
  height: auto;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.question-item {
  width: 100%;
  height: 32px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-item input[type="text"] {
  width: 80%;
}

.question-item input[type="radio"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.question-item input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.question button{
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}

input{
    outline: none;
}
