.header-table {
  padding-top: 13px !important;
  background-color: #ffff;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  
}
.dx-datagrid-headers {
  background-color: #3F72AF;
  color: #F9F7F7;
}
.dx-datagrid {
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary {
  background-color: #9AD0EC !important;
  color: #112D4E !important;
}