form {
    border: 3px solid #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    width : 50%;
    margin-left : 25%;
}
label {
    text-align: center;
}

input[type=text], input[type=password] {

  width: 100%;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content: center;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}


.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 25%;
  border-radius: 50%;
}

.login-container {
  padding: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}