.test-candidate-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-candidate-header{
    width: 100%;
    height: 60px;
    background-color: #F9F7F7;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.test-candidate-body{
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.list-test{
    height: 97%;
    width: 65%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin : 0px 20px 0px 20px;
    border-radius: 24px;
}

.list-candidate{
    height: 97%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin : 0px 20px 0px 0px;
    border-radius: 24px;
}

.list-candidate h4{
    margin-top: 0;
}

.list-of-candidate{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.candidate-item{
    cursor: pointer;
    display: flex;
    width: 80%;
    background-color: azure;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.candidate-item:hover{
    transform: scale(1.05);
}

.candidate-item:hover .test-result{
    display: block;
}

.candidate-item p{
    font-size: 16px;
}

.candidate-item input[type='checkbox']{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.test-result{
    background-color: rgb(176, 246, 223);
    height: 100%;
    width: 100px;
    line-height: 30px;
    display: none;
}

.test-result:hover{
    transform: translate(0, -8px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.question-correct{
    background-color: rgb(141, 253, 141) !important;
}   

.question-incorrect{
    background-color: rgb(255, 156, 156) !important;
}

.test-result.question-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
