.test-candidate-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-candidate-header{
    width: 100%;
    height: 60px;
    background-color: #DBE2EF;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    padding-top: 20px;
}

.test-candidate-body{
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.list-test{
    height: 96%;
    width: 65%;
    background-color: white;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 20px;
    
}

.list-candidate{
    height: 96%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 12px;
    margin-right: 20px;
}

.list-candidate h4{
    margin-top: 0;
}

.list-of-candidate{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.candidate-item{
    display: flex;
    width: 80%;
    background-color: azure;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.candidate-item p{
    font-size: 16px;
}

.candidate-item input[type='checkbox']{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
