.title {
    background: white;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: left;
    margin: auto;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
}   
.questions {
    flex-direction: column;
    display: flex;
    
}

.questions-content {
    background: white;  
    width: 60%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    margin: auto;
    height: 250px;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
}

.TestContent {
    overflow: auto;
}