.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'NotosansBold';
  src: url('./assets/font/notosans-bold.3ede5aff.woff2') format('woff2');
}

@font-face {
  font-family: 'NotosansItalic';
  src: url('./assets/font/notosans-italic.1c1aaac9.woff2') format('woff2');
}

@font-face {
  font-family: 'NotosansRegular';
  src: url('./assets/font/notosans-regular.2cb88a13.woff2') format('woff2');
}

@font-face {
  font-family: 'NotosansSemibold';
  src: url('./assets/font/notosans-semibold.df3e6dc4.woff2') format('woff2');
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background-color: #B8BCC3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #B8BCC3;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #888888;
}

body{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NotosansRegular;
  color: #212121;
  font-size: 14px;
}

a{
  text-decoration: none;
}

p{
  margin: 0px;
}

* {
  box-sizing: border-box !important;
}

#root{
  width: 100%;
  height: 100%;
}